body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tetris-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
}

.redBack {
  background-color: red;
}

.blackBack {
  background-color: rgb(0, 0, 0);
}
